html,
body {
    height: 100%;
    
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("http://alt.coxnewsweb.com/ajc/_digital_producers/shanepages/0830BLcover27.JPG") !important;
}

.form-signin {
    background-color: white;
    width: 100%;
    max-width: 700px;
    padding: 15px;
    margin: auto;
    border: 10px #4472c4 solid;
}

.row {
    padding: 3px;
}

.btn-primary {
    background: #249cd3 !important;
}

#titleOfForm {
    text-align: center;
}